<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TabuchiEDBfinal ;User Id=user1;Password=123456;Integrated Security= false;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages enableEventValidation="true" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/Default.aspx" defaultUrl="~/Login.aspx" requireSSL="false" protection="All" slidingExpiration="true" path="/" timeout="240" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>